AuthType Basic
AuthBasicProvider ldap
AuthName "Authorized Access Only"
AuthLDAPBindDN             "{{ AuthLDAPBindDN }}"
AuthLDAPBindPassword       "{{ AuthLDAPBindPassword }}"
AuthLDAPURL     "{{ AuthLDAPURL }}"
